[submodule "botsch-kobbelt-remesher-libigl"]
	path = ext/botsch-kobbelt-remesher-libigl
	url = https://github.com/sgsellan/botsch-kobbelt-remesher-libigl.git
[submodule "nvdiffrast"]
	path = ext/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast.git
